.coding-intro {
    padding: 0px 20px 20px 20px;
    line-height: 1.5;
    width: 900px;
}
p {
    font-size: 15pt;
    margin-top: 20px;
    margin-bottom: 20px;
}
h2 {
    font-size: 24pt;
    margin-top: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}
.project-cards-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-content: space-between;
    margin: 0;
    width: 900px;
    padding-right: 20px;
    padding-left: 20px;
}
.project-card{
    border: 3px solid #FFC94B;
    width: 350px;
    height: 530px;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.5);
    background-color: #F9FAF4;
    margin-bottom: 25px;
    text-align: center;
    padding: 20px;
    position: relative;
}
.card-photo{
    height: 220px;
    max-width: 330px;
    border: 1px solid black;
}
.card-text p{
    font-size: 14pt;
    margin-top: 15px;
    margin-bottom: 15px;
}
.card-links-container{
    display:flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    position: absolute;
    bottom: 20px;
    width: inherit;
}
.devicon-heroku-plain-wordmark, .devicon-github-original-wordmark, .devicon-chrome-plain-wordmark {
    font-size:30pt;
    padding: 5px 20px 5px 20px;
}
.youtube-logo {
    height: 30pt; 
    padding: 0px 20px 0px 20px;
}
