.events-intro {
    padding: 0px 20px 20px 20px;
    line-height: 1.5;
    width: 900px;
}
p {
    font-size: 15pt;
    margin-top: 20px;
    margin-bottom: 20px;
}


.photos-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
    height: 100%;
}
.grid-photo{
    height: 250px;
    width: 250px;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
}
.flip-card {
    background-color: transparent;
    width: 250px;
    height: 250px;
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 25px;
}
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 1s;
    transform-style: preserve-3d;
}
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}
.flip-card-front, .flip-card-back {
    position: absolute;
    height: inherit;
    backface-visibility: hidden;
}
.flip-card-back {
    color: #FCE181;
    transform: rotateY(180deg);
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.5);
}

.card-back-container p {
    color: black;
    padding: 10px;
    font-size: 12pt;
}
.old-vic-logo{
    height: 40pt;
}
