html {
    height: 100%;
}

body {
    font-family:'Lucida Grande', sans-serif;
    margin: 0;
    height: 100%;
    position: relative;
    background-image: url("../images/background.jpg");
}

a {
    text-decoration: none;
    color: #F9FAF4;
}

h1{
    font-family:'Trebuchet MS', sans-serif;
    margin:0;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 80pt;
    color: #F9FAF4;
    text-align: center;
    text-transform: capitalize;
    background-color: #0e7a84;
    opacity: 90%;
    }

h2 {
    color: black;
    font-size: 30pt;
    padding-top: 50px;
    margin: 0;
    text-align: center;
}

h3{
    margin:0;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 26pt;
    color: #F9FAF4;
    text-align: center;
    text-transform: capitalize;
    background-color: #0e7a84;
    opacity: 80%;
    }

p {
    font-size: 18pt;
    margin-top: 20px;
    margin-bottom: 20px;
    
}

.nav-bar {
    padding-top: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    opacity: 90%;
}

.nav-link {
    display: inline-block;
    color: black;
    font-size: 18pt;
    padding: 10px 100px 10px 100px;
    text-decoration: none;
}
#nav-on-page {
    text-decoration: underline;
}
main {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
}
.space{
    height:100%;
}
.intro {
    padding: 20px;
    line-height: 1.5;
    width: 600px;
}
.photo-div {
    margin: 0;
}
.alice-photo {
    width: 350px;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.5);
}
footer {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    height: 50px;
    bottom: 0;
    
}
footer .devicon-github-original-wordmark{
    font-size: 40pt;
    padding: 5px 30px 5px 30px;
}
footer .devicon-linkedin-plain {
    font-size: 40pt;
    padding: 5px 30px 5px 30px;
}
.grad-text{
    text-align: center;
margin-bottom: 50px;
}
